@charset "UTF-8";

/* 리스트 부분 */

.list-btn{
	width: 120px;
}

.write-btn-list{
	padding-left: 20px;
	padding-right: 20px;
}

.margin-right-15{
	margin-right: 15px;
}

#table-btn{
	margin-bottom: 30px;
	margin-right: 5px;
}

.section-list{
	top: 100px;
	bottom: 50px;
	
}

.title-h2{
	color: #22ABA6;
	font-size: 1.8em;
	margin-bottom: 0px;
}