<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosmo.mapper.CommentMapper">

	<select id="getCommentListJson" resultType="CommentVO">
		<![CDATA[  
			SELECT * FROM 
				(SELECT Tb.*, rownum rNum FROM 
					( SELECT * FROM op_board_comment where comment_srl > 0 
					
		]]>
			<choose>
			<when test="parent_board_srl == null or parent_board_srl == ''">

			</when>
			<otherwise>
				AND parent_board_srl = #{parent_board_srl}
			</otherwise>
			
			
		</choose>
		
		
		<choose>
			<when test="comment_srl == null or comment_srl == ''">

			</when>
			<otherwise>
				AND comment_srl = #{comment_srl}
			</otherwise>

		</choose>

		<![CDATA[
  				ORDER BY comment_srl DESC ) Tb ) WHERE rNum Between #{pageStart} and #{pageEnd}
		]]>

	</select>
	
	<select id="getTotalCount" resultType="Integer">
	
		<![CDATA[  
			select count(*) from op_board_comment
			  where comment_srl > 0 
		]]>
		
		<choose>
			<when test="parent_board_srl == null or parent_board_srl == ''">

			</when>
			<otherwise>
				AND parent_board_srl = #{parent_board_srl}
			</otherwise>
		</choose>
		
		<choose>
			<when test="comment_srl == null or comment_srl == ''">

			</when>
			<otherwise>
				AND comment_srl = #{comment_srl}
			</otherwise>

		</choose>

	</select>
	
	<insert id="insertComment" parameterType="com.cafe24.ourplanners.comment.domain.CommentVO">
 		insert into op_board_comment (comment_srl, parent_board_srl, user_id, comments,
 			postdate, last_update) 
		values (
			OP_BOARD_COMMENT_SRL_SEQ.nextval, #{parent_board_srl}, #{user_id}, #{comments},
			sysdate, sysdate) 
 	</insert>
 	
 	<update id="updateComment">
		update op_board_comment set comments = #{comments},
		last_update = sysdate
		where comment_srl = #{comment_srl}
	</update>

	<delete id="deleteComment">
		delete from op_board_comment where comment_srl =#{comment_srl}
	</delete>
	
	<select id="readComment">
	select * from op_board_comment where comment_srl =#{comment_srl}
	</select>
 	
 	<select id="countComment">
 	select count(*) from op_board_comment where parent_board_srl= #{parent_board_srl};
 	</select>
	
</mapper>